.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: none;
  padding: 5px 10px;
  margin: 0;
  border-radius: 0.7rem;
}

.root h3 {
  margin: 0;
  font-size: 1.2rem;
}

.root p {
  margin: 0;
}

.root i:hover {
  cursor: pointer;
}

.content {
  width: 95%;
}

.selected {
  border: 1.5px solid var(--primary);
}

.selectable:hover {
  background-color: #f8fafc;
  border: 1.5px solid #94a3b8;
  cursor: pointer;
}

.selected.selectable:hover {
  background-color: #fed7aa;
  border: 1.5px solid var(--primary);
  cursor: not-allowed;
}
