.root {
  box-shadow: none;
  padding: 0 10px;
  margin: 0;
  background-color: unset;
}

.root h3 {
  margin: 0;
  font-size: 1.2rem;
}

.root p {
  margin: 0;
}

.root i:hover {
  cursor: pointer;
}
