.sidebar {
  min-width: 400px;
  max-width: 400px;
  height: 100%;
  background: white;
  margin-right: -400px;
  transition: all 0.5s;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
}

.sidebar.isOpen {
  margin-right: 0;
  transition: 0.5s;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.sidebarHeader h3 {
  margin: 0;
}

.sidebarHeader div {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 1em;
}

.sidebarHeader .closeSidebar:hover {
  cursor: pointer;
}

.itemWrapper {
  overflow-y: auto;
  max-height: 90vh;
  padding-bottom: 100px;
}

.item {
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1.5em;
  background-color: white;
}

.footer .checkoutLink {
  position: relative;
  text-align: right;
}

.footer .checkoutLink a:hover {
  cursor: pointer;
  color: var(--primary) !important;
}

@media (max-width: 400px) {
  .sidebar {
    min-width: 100vw;
    max-width: 100vw;
    height: 100%;
    background: white;
    margin-right: -100vw;
    transition: all 0.5s;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
  }
}

.loginPrompt {
  width: 100%;
  height: 100%;
  padding: 10px;
}
